/.vscode/

# shared libraries
*.so
*.dll

# build system files
*.ninja
*.ninja_deps
*.ninja_log

# execuatbles
*.exe
/2d-game
/test.bin

# cmake stuff
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/